body {
    background: transparent url(../img/background.png) top left repeat-x fixed;
}

body, p {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 26px;
 }

a { color: #0055CC }
/*
h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
}
*/
h1 { font-size: 1.7em; }

h2 { font-size: 1.4em; }

h3, h4, h5, h6 {
    font-size: 1.2em;
    text-decoration: underline;
}


p { margin-bottom: 14px; }

#logo {
    color: #999;
    font-family: monospace;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: pre;
}

.navbar {
}

.navbar .brand {
    color: #777;
    font-variant: normal;
}

.navbar-inner {
    background: #FFF;
    filter: none;
}

.navbar .nav > li > a {
/*    color: #777;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 8px 10px 12px;*/
    text-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #000;
    background-color: transparent;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) outset; 
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) outset; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) outset;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    color: #000;
    background-color: transparent;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset; 
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    font-weight: bold;
    padding-left: 13px;
}

.hero-unit {
    background: none;
    border: 1px solid #EEEEEE;
    padding: 30px;
}

.hero-unit h1 {
    font-size: 50px;
}

.page-header h1 {
    line-height: 1.5em;
}

.page-header p {
    color: #777;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 0;
}

.event {
    text-align: center;
    background-color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    margin-right: 20px;
    min-height: 55px;
    padding: 5px 15px;
}

.event .time {
  border-top: 1px solid #ccc;
}

.member {
    margin-bottom: 20px;
    text-align: left;
}

.member img {
    background-color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    max-height: 60px;
    max-width: 60px;
}

.member .name {
    margin: 10px;
    font-size: 1.2em;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 15px 0 16px;
    text-align: right;
}

article {
    margin-bottom: 40px;
}

article header {
    border-bottom: 1px solid #EEEEEE;
    margin: 18px 0;
    padding-bottom: 17px;
}

article header small {
    color: #999999;
    font-size: 14px;
}

article footer {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: right;
}

aside .phpugl {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    max-width: 170px;
    opacity: .5; 
    filter:alpha(opacity=50)
}

aside dl dd {
    margin-bottom: 15px;
}

iframe { border: none; }
#phpugl_group { width: 100%; }
