html, body {
  background: #FAFAFA;
}
a {
  color: #369;
  text-decoration: none;
}
a:hover, a.active {
  color: #AE508D;
  outline: 0px none;
}
h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.25em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.25em;
  text-align: center;
}
h2 {
  color: #999;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}
p {
  color: #111;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}
dl {
  display: block;
}
dt {
  font-weight: bold;
  float: left;
  clear: left;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 4px 140px;
}
dd:after {
  content: '';
  display: block;
  clear: both;
}

/* shadow */

.shadow--2dp {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.shadow--4dp {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.white {
  background: #fff;
  color: #111;
}
.inner {
  padding: 15px;
}
.drop-space {
  margin-bottom: 50px;
}
.text-center {
  text-align: center;
}
.hide {
  display: none;
}

/* header */

.header {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
  padding: 30px 0px;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.page-footer {
  border-top: 1px solid #ccc;
  margin-top: 70px;
  padding-top: 20px;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
}
.nav__item {
  font-weight: 700;
  flex: 0 0 auto;
  padding-right: 2em;
}
.nav__item--active {
  color: #000;
}
.nav__logo {
  height: 150px;
}

/* layouts */

.layout-horizontal {
  display: flex;
}
.layout-horizontal__item {
  flex: 1 1 0%;
}

/* card */

.cards {
  display: flex;
  margin: -0.875em -0.5em;
  flex-wrap: wrap;
}

.cards--centered {
  justify-content: center;
}

.cards--nowrap {
  flex-wrap: nowrap;
}

.card {
  margin-bottom: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  background: #FFF none repeat scroll 0% 0%;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 20px 0;
}
.card__main {
  flex: 1 1 0%;
  padding: 10px;
}
.card__heading {
  margin: 20px;
  font-size: 2em;
  font-weight: 700;
}
.card__inner {
  margin: 20px;
}
.card__footer {
  margin-bottom: 20px;
}
.card--center {
  text-align: center;
}
.card--spacing {
  margin-left: 20px;
}

/* posts */

.posts {
  background-color: #FFF;
  position: relative;
  margin-left: 9em;
  padding: 1em 2em;
}
.post {
  position: relative;
}
.post {
  margin-bottom: 5em;
}
.post header {}
.post h2 {
  color: #111;
  text-align: left;
  margin-bottom: 0.5em;
}
.post__details {
  display: block;
  border-bottom: 1px solid #DDD;
  padding: 0px 0px 1em;
  margin: 0px 0px 0.75em;

}
.post__info {
  position: absolute;
  width: 5.5em;
  overflow: hidden;
  background-color: #FFF;
  left: -11em;
  top: 0px;
  padding: 1.5em 1em;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}
.post__info__date {
  position: relative;
  z-index: 1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  font-size: 1.5em;
  color: #999;
}
.post__info__date__day {
  display: block;
  margin: 0.25em 0px 0px;
  font-size: 1.5em;
  font-weight: 700;
  color: #1B252A;
}
.post__language {
  border-top: 1px solid #DDD;
  padding-top: 1em;
  margin-top: 0.75em;
}

.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0em 0.14285714em;
  background-color: #E8E8E8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: bold;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.label:first-child {
  margin-left: 0em;
}

.label:last-child {
  margin-right: 0em;
}

/** Buttons */

.btn {
  background-color: #F5F5F5;
  background-image: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  border: 0px none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin-bottom: 0px;
  max-width: 100%;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-block {
  display: block;
}

.btn-yellow, .btn-yellow:active, .btn-yellow:focus, .btn-yellow:hover {
    background-color: #FFDD00;
    color: rgba(0, 0, 0, 0.87);
}


/** Responsiv */


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

  .cards--nowrap {
    flex-wrap: wrap;
    margin-right: 10px;
  }

    .posts {
      margin-left: 0;
    }
    .post h2 {
      /*margin-top: 2em;*/
    }
    .post__info {
      position: relative;
      width: auto;
      overflow: hidden;
      background-color: transparent;
      display: block;
      text-align: center;
      left: auto;
      top: auto;
      padding: 1em;
      border-bottom: 1px solid #DDD;
      border-top-left-radius: none;
      border-bottom-left-radius: none;
    }
    .post__info.shadow--2dp {
      box-shadow: none;
    }
    .post__info__date {
      position: relative;
      z-index: 1;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 400;
      text-align: left;
      display: inline;
      font-size: 1.5em;
      color: #999;
      border-bottom: none;
      padding: 0px 0px 1em;
      margin: 0px 0px 0.75em;
    }
    .post__info__date__day {
      display: inline;
      margin: 0.25em 0px 0px;
      font-size: 1.3em;
      font-weight: 400;
      color: #1B252A;
    }
}


@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
