{% extends "default.html" %}

{% block content %}

{{ content|raw }}

<div id="navigation">
	<div class="pull-right">
        {% if pagination.next_page %}
        <a href="{{ pcurl(pagination.next_page) }}" id="navigation-next" class="btn">Ältere Beiträge <i class="icon-arrow-right"></i></a>
        {% endif %}
	</div>
    <div>
    {% if pagination.prev_page %}
		<a href="{{ pcurl(pagination.prev_page) }}" id="navigation-next" class="btn"><i class="icon-arrow-left"></i> Neuere Beiträge</a>
	{% endif %}
    </div>
</div>

{% endblock %}
