<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{% if page.title.de %}{{ page.title.de }}{% else %}{{ page.title }}{% endif %} - {% endif %} PHPUGL - PHP UserGroup Leipzig</title>

  <!-- MetaTags -- begin -->
  <meta name="DC.title" content="PHPUGL">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="DC.Description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ site.keywords }}{% if page.keywords %},{{ page.keywords }}{% endif %}{% for tag in page.tags %},{% if tag != 'announcement' %}{{ tag }}{% endif %}{% endfor %}">
  <meta name="DC.Subject" content="{{ site.keywords }}{% if page.keywords %},{{ page.keywords }}{% endif %}{% for tag in page.tags %},{% if tag != 'announcement' %}{{ tag }}{% endif %}{% endfor %}">
  <meta name="copyright" content="{{ site.copyright }}">
  <meta name="DC.Rights" content="{{ site.copyright }}">
  <meta http-equiv="content-language" content="{{ site.language }}">
  <meta name="DC.Language" scheme="NISOZ39.50" content="{{ site.language }}">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="DC.Creator" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="date" content="{% if page.timestamp %}{{ page.timestamp | date('c') }}{% else %}{{ 'now'|date('c') }}{% endif %}">
  <meta name="DC.date" content="{% if page.timestamp %}{{ page.timestamp | date('c') }}{% else %}{{ 'now'|date('c') }}{% endif %}">
  <meta name="robots" content="index,follow">
  <!-- MetaTags -- end -->

  <link rel="stylesheet" href="{{ site.root }}css/normalize.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.root}}css/style.css">

  <link href="{{ site.root }}feed.xml" type="application/atom+xml" rel="alternate" title="PHPUGL" >
  <link rel="author" href="humans.txt" />
</head>
<body>
  <header class="header shadow--2dp">
    <div class="container">
      <nav class="nav">
        <a class="nav__item" href="{{ site.root }}">
          <img class="nav__logo shadow--2dp" src="{{ site.root }}img/logo.png" alt="phpugl - Leipzigs PHP Usergroup">
        </a>
        <a class="nav__item{% if page.active == "blog" %} nav__item--active{% endif %}" href="{{ site.root }}blog/">Archiv</a>
        <a class="nav__item" href="{{ site.root }}impressum/">Impressum</a>
        <a class="nav__item" href="http://phpugl.de/feed.xml"><i class="fa fa-rss"></i></a>
        <a class="nav__item" href="http://ical.phpugl.de/"><i class="fa fa-calendar"></i></a>
        <a class="nav__item" href="https://twitter.com/#!/phpugl" rel="Twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="nav__item" href="https://github.com/phpugl" rel="Github" title="Github"><i class="fa fa-github"></i></a>
        <a class="nav__item" href="irc://irc.freenode.net/phpugl" title="IRC #phpugl">#</a>
      </nav>
    </div>
  </header>
  <main class="container drop-space">
    <section property="content">
    {% block content %}
    {{ content|raw }}
    {% endblock %}
    </section>
  </main>

  <footer class="page-footer container">
    <p>phpugl - Leipzig PHP Usergroup</p>
  </footer>

  <script src="{{ site.root }}js/lib/jquery.min.js"></script>
  <script src="{{ site.root }}js/application.js"></script>
  {% block javascript %}
  {{ javascript|raw }}
  {% endblock %}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.phpugl.de"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.nogo-software.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://stats.nogo-software.de/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
