<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %} PHPUGL - PHP UserGroup Leipzig</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- MetaTags -- begin -->
  <meta name="DC.title" content="PHPUGL">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="DC.Description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ site.keywords }}{% if page.keywords %},{{ page.keywords }}{% endif %}{% for tag in page.tags %},{% if tag != 'announcement' %}{{ tag }}{% endif %}{% endfor %}">
  <meta name="DC.Subject" content="{{ site.keywords }}{% if page.keywords %},{{ page.keywords }}{% endif %}{% for tag in page.tags %},{% if tag != 'announcement' %}{{ tag }}{% endif %}{% endfor %}">
  <meta name="copyright" content="{{ site.copyright }}">
  <meta name="DC.Rights" content="{{ site.copyright }}">
  <meta http-equiv="content-language" content="{{ site.language }}">
  <meta name="DC.Language" scheme="NISOZ39.50" content="{{ site.language }}">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="DC.Creator" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="date" content="{% if page.timestamp %}{{ page.timestamp | date('c') }}{% else %}{{ 'now'|date('c') }}{% endif %}">
  <meta name="DC.date" content="{% if page.timestamp %}{{ page.timestamp | date('c') }}{% else %}{{ 'now'|date('c') }}{% endif %}">
  <meta name="robots" content="index,follow">
  <!-- MetaTags -- end -->
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="{{ site.root }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.root }}css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="{{ site.root }}css/style.css">
  
  <link href="{{ site.root }}feed.atom" type="application/atom+xml" rel="alternate" title="PHPUGL" >
</head>
<body>  
  <div class="container">
    <header>
      <h1 id="logo" role="logo">/**
 * Developer in Leipzig
 * talking about PHP and development
 *
 * @var \PHP\Usergroup\Leipzig
 */</h1>
      <nav class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand code" href="{{ site.root }}"><b>public</b> $phpugl =</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li{% if page.active == "home" %} class="active"{% endif %}><a class="code" href="{{ site.root }}">[ Home, </a></li>
                <li{% if page.active == "blog" %} class="active"{% endif %}><a class="code" href="{{ site.root }}blog/">Blog, </a></li>
                <li{% if page.active == "groups" %} class="active"{% endif %}><a class="code" href="{{ site.root }}group/">Group, </a></li>
                <li{% if page.active == "impress" %} class="active"{% endif %}><a class="code" href="{{ site.root }}impressum/">Impressum ];</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </nav>
    </header>
    <div id="content">
      <div class="row">
        <section class="span10">
          {% block content %}
          {{ content|raw }}
          {% endblock %}
        </section>
        <aside class="span2">
          <img src="{{ site.root }}img/phpugl.jpg" alt="PHPUGL">
          <h2>Kalender</h2>
          <p><a href="http://ical.phpugl.de" target="_blank"><img src="https://www.google.com/calendar/images/ical.gif" alt="ICAL" ></a> <a href="http://calendar.phpugl.de" target="_blank"><img src="https://www.google.com/calendar/images/html.gif" alt="HTML" ></a></p>
          <h2>Twitter</h2>
          <p><a href="https://twitter.com/#!/phpugl">@phpugl</a></p>
          <h2>IRC</h2>
          <p><a href="irc://irc.freenode.net/phpugl">#phpugl</a></p>
          <h2>Github</h2>
          <p><a href="https://github.com/phpugl">Repositories</a></p>
          {% block sidebar %}
          {{ sidebar|raw }}
          {% endblock %}
       </aside>
      </div>
    </div>
    <footer class="footer">
      [PHPUGL] PHP UserGroup Leipzig
    </footer>
  </div> <!--! end of #container -->
  <script src="{{ site.root }}js/jquery.min.js"></script>
  <script src="{{ site.root }}js/bootstrap.min.js"></script>
  
  <!-- Piwik -->
  <script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.phpugl.de/" : "http://stats.phpugl.de/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
  </script><noscript><p><img src="http://stats.phpugl.de/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->
</body>
</html>
