{% block content %}

{{ content|raw }}
<entry>
  {% if post.language %}
    <title>{{ attribute(post.title, 'de') }}</title>
    <summary type="html"><![CDATA[{{ post.content |striptags('<a><b><strong><ul><li><p><h1><h2><h3>')|raw  }}]]></summary>
  {% else %}
    <title>{{ post.title }}</title>
    <summary type="html"><![CDATA[{{ post.content | striptags }}]]></summary>
  {% endif %}
  <link rel="alternate" type="text/html" href="{{ post.url }}" />
  <id>{{ post.url }}</id>
  <published>{{ post.timestamp | date('c') }}</published>
  {% if post.updated %}
  <updated>{{ post.updated | date('c') }}</updated>
  {% else %}
  <updated>{{ post.timestamp | date('c') }}</updated>
  {% endif %}
  <author>
    <name>{{ post.author }}</name>
  </author>
</entry>
{% endblock %}
