---
title: Home
active: home
keywords: Leipzig,PHP,symfony,Symfony2,doctrine,Doctrine2,LSDUG,HTML5
format: none
posts_filters:
    has_tags: announcement
    not:
        has_tags: draft
---

<header class="page-header">
  <h1>Hallo Entwickler,</h1>
  <p>die PHP UserGroup Leipzig grüßt alle PHP-Interessierten in und um 
  Leipzig. Wir treffen uns jeden letzten Donnerstag im Monat. Der rege 
  Austausch über Neuigkeiten, Fakten und Best Practices schafft die 
  besten Voraussetzungen für die Entwicklung mit PHP.</p>
</header>

{% for post in pagination.posts %}
{% include 'home_post.html' %}
{% endfor %}
