---
title: Home
active: home
keywords: Leipzig,PHP,symfony,Symfony2,doctrine,Doctrine2,LSDUG,HTML5
format: none
announcement_filter:
    has_tags: announcement
    not:
        has_tags: draft

posts_filters:
    not:
        has_tags: draft
        has_tags: announcement
---

<section class="cards cards--nowrap drop-space">
  {% for post in blog.posts.filter('announcement_filter') %}
  {% include 'announcement.html' %}
  {% endfor %}
</section>

<section class="members">
  <h2>Die Usergroup, <small>das sind wir.</small></h2>

  <div class="cards">
    {% for name, avatar in site.members %}
    <div class="card shadow--2dp card--center card--spacing">
      <div class="card__main">
        <a href="http://github.com/{{ name }}"><img src="{{ avatar }}" height="120" alt="{{ name }}">
        <div class="card__inner">

          <span class="name">{{ name }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
