<!doctype html>  
<!--[if lt IE 7 ]> <html lang="de" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="de" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="de" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>PHPUGL - PHP UserGroup Leipzig</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- MetaTags -- begin -->
  <meta name="DC.title" content="PHPUGL">
  <meta name="description" content="PHP Usergroup Leipzig - Austausch über Neuigkeiten, Fakten und Best Practice zur Programmiersprache PHP">
  <meta name="DC.Description" content="PHP Usergroup Leipzig - Austausch über Neuigkeiten, Fakten und Best Practice zur Programmiersprache PHP">
  <meta name="keywords" content="PHP,Usergroup,Leipzig,Best Practice,symfony,Symfony2,doctrine,Doctrine2,LSDUG,Leipzg Symfony und Doctrine Usergroup,Web 2.0,HTML5">
  <meta name="DC.Subject" content="PHP,Usergroup,Leipzig,Best Practice,symfony,Symfony2,doctrine,Doctrine2,LSDUG,Leipzg Symfony und Doctrine Usergroup,Web 2.0,HTML5">
  <meta name="copyright" content="PHP Usergroup Leipzig">
  <meta name="DC.Rights" content="PHP Usergroup Leipzig">
  <meta http-equiv="content-language" content="de">
  <meta name="DC.Language" scheme="NISOZ39.50" content="de">
  <meta name="author" content="PHPUGL Team">
  <meta name="DC.Creator" content="PHPUGL Team">
  <meta name="date" content="{{ "now"|date("c") }}">
  <meta name="DC.date" content="{{ "now"|date("c") }}">
  <meta name="robots" content="index,follow">
  <!-- MetaTags -- end -->
  
  <link rel="stylesheet" href="styles/style.css?v=2">
  <script src="scripts/lib/modernizr-1.6.min.js"></script>
</head>
<body>
  <div id="container">
    <header>
<span class="comment">/**
 * people in L.E. talking about PHP and development
 *
 * @var \PHP\Usergroup\Leipzig
 */
</span>
<span class="code"><b>public</b> $phpugl;</span>
    </header>
    
    <div id="main">
      {{ content }}
    </div>
    
    <footer>
      <nav>
        <a href="impressum.html">Impressum</a>
      </nav>
    </footer>
  </div> <!-- end of #container -->

  <!-- scripts concatenated and minified via ant build script-->
  <script src="scripts/lib/jquery-1.6.1.min.js"></script>
  <script src="scripts/application.js"></script>
  <!-- end concatenated and minified scripts-->
 
  <!--[if lt IE 7 ]>
    <script src="scripts/lib/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <!-- Piwik -->
  <script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.phpugl.de/" : "http://stats.phpugl.de/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
  </script><noscript><p><img src="http://stats.phpugl.de/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->
</body>
</html>
 
