layout: default.twig
---
<h2>PHPUGL</h2>
<iframe id="phpugl_group" name="PHPUGL groups"
 src="https://groups.google.com/forum/embed/?place=forum/phpugl&showsearch=true&showpopout=true&fragments=true&parenturl=http%3A%2F%2Fphpugl.de%2Fgroup.html"
 scrolling="no"
 frameborder="0"
 width="100%"
 height="700">
</iframe>

<h2>LSDUG</h2>
<iframe id="phpugl_group" name="PHPUGL groups"
 src="https://groups.google.com/forum/embed/?place=forum/lsdug&showsearch=true&showpopout=true&fragments=true&parenturl=http%3A%2F%2Fphpugl.de%2Fgroup.html"
 scrolling="no"
 frameborder="0"
 width="100%"
 height="700">
</iframe>

<p><em>Hinweis!</em> Falls ihr nur ein leere Seite seht müsst Ihr euch vorher bei <a href="https://www.google.com/accounts/ServiceLogin" target="_blank" rel="nofollow">Google</a> einloggen.</p>
